################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BidService.API/.vs/BidService.API/v17/.suo
/BidService.API/.vs/BidService.API/v17/DocumentLayout.json
