################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BidService.API/.vs/BidService.API/v17/.suo
/BidService.API/.vs/BidService.API/v17/DocumentLayout.json
/BidService.API/.vs/BidService.API/DesignTimeBuild/.dtbcache.v2
/BidService.API/.vs/BidService.API/FileContentIndex/3c9d3c4b-8308-4de3-ae1b-2952e6343508.vsidx
/BidService.API/.vs/BidService.API/FileContentIndex/66ea0d19-36c4-4064-8e34-c52ca5ff0341.vsidx
